.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &--abs-bottom {
    position: absolute;
    z-index: 1;
    inset-inline: fluid-to-laptop(50, 40);
    bottom: fluid-to-laptop(20, 16);
  }
  &--rounded {
    column-gap: fluid-to-laptop(10, 8);

    .slider-navigation__arrow-button {
      border-radius: 50%;
      background-color: var(--color-dark-08);
    }
  }
  &--tile {
    column-gap: fluid-to-laptop(16, 12);
    padding: fluid-to-laptop(16, 12);
    background-color: var(--color-dark-06);
    border: var(--border);
    border-radius: fluid-to-laptop(12, 10);
  }
  &__arrow-button {
    background-color: var(--color-dark-12);
    border: var(--border);
    border-radius: fluid-to-laptop(8, 6);
    @include hover {
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    column-gap: 3px;
    &-bullet {
      display: inline-flex;
      width: fluid-to-laptop(16, 14);
      height: 4px;
      background-color: var(--color-dark-20);
      border-radius: 5px;
      transition-duration: var(--transition-duration);
      &.is-active {
        background-color: var(--color-red-60);
        width: 22px;
      }
    }
  }
}
