.plan {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);
}
.plan-card {
  padding: fluid(50, 24);
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 30);
  height: 100%;
  background-color: var(--color-dark-10);
  border: var(--border);
  border-radius: fluid(12, 10);
  @include laptop {
    padding: fluid(40, 24);
  }

  @include mobile {
    padding: 24px;
  }
  &__header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 10);
  }
  &__conditions {
    display: flex;
    column-gap: fluid-to-laptop(4, 2);
    align-items: baseline;
    line-height: 1.73;
  }
  &__price {
    font-size: fluid(40, 24);
    font-weight: 600;
    color: var(--color-white);
  }
  &__action {
    display: flex;
    align-items: center;
    column-gap: fluid-to-laptop(20, 12);
  }
  &__button {
    width: 100%;
    text-align: center;
    &--dark {
      background-color: var(--color-dark-08);
      border: var(--border);
    }
  }
}
