.tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__item {
    padding: fluid-to-laptop(8, 6) fluid-to-laptop(14, 12);
    font-weight: 500;
    color: var(--color-white);
    border: var(--border);
    background-color: var(--color-dark-08);
    border-radius: fluid(8, 6);
  }
}
