.movie-details {
  display: grid;
  grid-template-columns: 66% auto;
  column-gap: 20px;

  @include laptop {
    grid-template-columns: 60% auto;
  }

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
  &__desc {
    color: var(--color-white);
  }
  &__title {
    @include fluid-text(18, 14);
    font-weight: 500;
    color: var(--color-gray-60);
  }
  &__group {
    display: flex;
    flex-direction: column;
    row-gap: fluid(14, 8);

    &--seasons {
      row-gap: fluid(40, 20);

      @include mobile {
        order: -3;
      }
    }
  }

  &__info {
    @include tablet-above {
      position: sticky;
      top: fluid(127, 101);
      align-self: start;
    }
  }

  @include tablet {
    .movie-details {
      &__panel--desc {
        order: -2;
      }
      &__info {
        order: -1;
      }
      &__panel--seasons {
        order: -3;
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(30, 20);

    @include tablet {
      display: contents;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 16);
    padding: fluid(50, 24);
    background-color: var(--color-dark-10);
    border: var(--border);
    border-radius: fluid-to-laptop(12, 10);

    &-button {
      background-color: var(--color-dark-08);
      border: var(--border);
    }
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 20px;
    }
  }
  &-groups {
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 20);
  }
  &-group {
    display: flex;
    flex-direction: column;
    row-gap: fluid-to-laptop(14, 10);
  }
  &-title {
    font-size: fluid(18, 14);
    display: flex;
    font-weight: 500;
    color: var(--color-gray-60);
    column-gap: 4px;
    @include mobile {
      column-gap: 2px;
    }
  }
}
