.slider {
  position: relative;
  &__swiper {
    padding: 5px;
  }
  &__scrollbar {
    @include abs-x;
    top: 100%;
    width: 80px;
    margin-top: 20px;
    height: 5px;
    background-color: var(--color-dark-20);
    border-radius: 10px;
    z-index: 800;
    &-drag {
      width: 5px;
      height: 100%;
      background-color: var(--color-red-60);
      border-radius: 10px;
    }
  }
}
